p.first{
	padding:10px;
	border: 5px solid green;
}
p.second{
	padding:20px;
	border: 10px solid red;
	
	text-shadow: 5px 2px 4px grey:
	font-size:20pt;
	font-variant: small-caps;
	text-shadow: rbga(0,0,255,1) 5px 4px 0.5em;	
}
p.third{
	padding:30px;
	border: 20px solid purple;
	color:blue;
	text-shadow: red 5px 2px;
}
p.fourth{
	padding;10px;
	border-style:solid;
	border-width:2px;	
}
p.fifth{
	padding;10px;
	border-style:solid;
	border-width:5px;	/* the border can separately*/
}
h1{
	font-size:20pt;
	text-shadow:rgba(20,0,155,1) -1px -2px 0.5em;
	color:yellow;
	
	padding;10px;
	border-style:solid;
	border-width:5px;	
}