div{
	padding:80px;
	height:80px;
	width:80px;
	box-shadow:10px 10px #888888;
	
	
	background-color:lightgreen;
	font-variant:small-caps;
}

p{
	padding:80px;
	height:80px;
	width:80px;
	box-shadow:10px 10px #888888;
	color:black;
	font-family: 
	
	
	background-color:lightblue;
	font-variant:small-caps;
	
	
}