div{
	float:left;
	width:1250;
	height:200;
	margin:4px;
	color:white;
	background:-moz-linear-gradient(white 10%,yellow 30%,red 40%, black 20%);
}
p.one{
	float:left;
	width:1250px;
	height:500px;
	margin:4px;
	color:#FFF;
	background:-moz-linear-gradient(green 20%, yellow 30%, red 40%,purple 70%);
}p.two{
	float:left;	
	width:1250px;
	height:500px;
	margin:4px;
	color:#FFF;
	background:-moz-linear-gradient(blue 20%,green 30%,white 35%,orange 50%,);	
	
}p.three{
	float:left;
	width:1250px;
	height:150px;
	margin:4px;
	color:#FFF;
	background:-moz-linear-gradient(white 20%,pink 30%,red 70%);
}p.four{
	float:left;
	width:300px;
	height:100px;
	margin:4px;
	color:#FFF;
	background:-moz-linear-gradient(white,grey,black);
}p.five{
	float:left;
	width:300px;
	height:100px;
	margin:4px;
	color:#FFF;
	background:-moz-linear-gradient(white,purple,black);
}p.six{
	float:left;
	width:300px;
	height:100px;
	margin:4px;
	color:#FFF;
	background:-moz-linear-gradient(white,lightblue,black);
}p.seven{
	float:left;
	width:300px;
	height:100px;
	margin:4px;
	color:#FFF;
	background:-moz-linear-gradient(white,lightblue,blue,black,green,white);
}p.eight{
	float:left;
	width:300px;
	height:100px;
	margin:4px;
	color:#FFF;
	background:-moz-linear-gradient(black,blue,lightblue,white,yellow,orange,red,black,pink);
}p.nine{
	float:left;
	width:300px;
	height:100px;
	margin:4px;
	color:#FFF;
	background:-moz-linear-gradient(blue,green,pink);
}p.ten{
	float:left;
	width:300px;
	height:100px;
	margin:4px;
	color:#FFF;
	background:-moz-linear-gradient(black,orange,purple,red);
}p.eleven{
	float:left;
	width:300px;
	height:100px;
	color:#FFF;
	margin:4px;
	background:-moz-linear-gradient(purple,white,orange,purple);
}p.twelve{
	float:left;
	width:300px;
	height:100px;
	margin:4px;
	color:#FFF;
	background:-moz-linear-gradient(yellow,red,black,white,purple);
}p.thirteen{
	float:left;
	width:300px;
	height:100px;
	margin:4px;
	color:#FFF;
	background:-moz-linear-gradient(purple,yellow);
}p.fourteen{
	float:left;
	width:300px;
	height:100px;
	margin:4px;
	color:#FFF;
	background:-moz-linear-gradient(purple,green);
}p.fifteen{
	float:left;
	width:300px;
	height:100px;
	margin:4px;
	color:#FFF;
	background:-moz-linear-gradient(purple,blue);
}p.sixteen{
	float:left;
	width:300px;
	height:100px;
	margin:4px;
	color:#FFF;
	background:-moz-linear-gradient(purple,grey);
}p.seventeen{
	float:left;
	width:300px;
	height:100px;
	margin:4px;
	color:#FFF;
	background:-moz-linear-gradient(pink,white);
}p.eighteen{
	float:left;
	width:300px;
	height:100px;
	margin:4px;
	color:#FFF;
	background:-moz-linear-gradient(pink,orange);
}p.nineteen{
	float:left;
	width:300px;
	height:100px;
	margin:4px;
	color:#FFF;
	background:-moz-linear-gradient(pink,red);
}p.twenty{
	float:left;
	width:300px;
	height:100px;
	margin:4px;
	color:#FFF;
	background:-moz-linear-gradient(pink,blue);
}p.twentyone{
	float:left;
	width:300px;
	height:100px;
	margin:4px;
	color:#FFF;
	background:-moz-linear-gradient(pink,lightblue);
}p.twentytwo{
	float:left;
	width:300px;
	height:100px;
	margin:4px;
	color:#FFF;
	background:-moz-linear-gradient(pink,purple);
}