div{
	float:left;
	width:1200px;
	height:400px;
	margin:4px;
	color:#FFF;
	background:-moz-linear-gradient(blue,black);
}
p.one{
	float:left;
	width:300px;
	height:100px;
	margin:4px;
	color:#FFF;
	background:-moz-linear-gradient(DeepSkyBlue,white);
}p.two{
	float:left;
	width:300px;
	height:100px;
	margin:4px;
	color:#FFF;
	background:-moz-linear-gradient(grey,orange);
}p.three{
	float:left;
	width:300px;
	height:100px;
	margin:4px;
	color:#FFF;
	background:-moz-linear-gradient(gray,yellow);
}p.four{
	float:left;
	width:300px;
	height:100px;
	margin:4px;
	color:#FFF;
	background:-moz-linear-gradient(gray,green);
}p.five{
	float:left;
	width:300px;
	height:100px;
	margin:4px;
	color:#FFF;
	background:-moz-linear-gradient(grey,lightblue);
}p.six{
	float:left;
	width:300px;
	height:100px;
	margin:4px;
	color:#FFF;
	background:-moz-linear-gradient(grey,blue);
}p.seven{
	float:left;
	width:300px;
	height:100px;
	margin:4px;
	color:#FFF;
	background:-moz-linear-gradient(gray,purple);
}p.eight{
	float:left;
	width:300px;
	height:100px;
	margin:4px;
	color:#FFF;
	background:-moz-linear-gradient(gray,pink);
}p.nine{
	float:left;
	width:300px;
	height:100px;
	margin:4px;
	color:#FFF;
	background:-moz-linear-gradient(gray,gold);
}p.ten{
	float:left;
	width:300px;
	height:100px;
	margin:4px;
	color:#FFF;
	background:-moz-linear-gradient(gray,silver);
}p.eleven{
	float:left;
	width:300px;
	height:100px;
	margin:4px;
	color:#FFF;
	background:-moz-linear-gradient(purple,white);
}p.twelve{
	float:left;
	width:300px;
	height:100px;
	margin:4px;
	color:#FFF;
	background:-moz-linear-gradient(purple,orange);
}p.thirteen{
	float:left;
	width:300px;
	height:100px;
	margin:4px;
	color:#FFF;
	background:-moz-linear-gradient(purple,yellow);
}p.fourteen{
	float:left;
	width:300px;
	height:100px;
	margin:4px;
	color:#FFF;
	background:-moz-linear-gradient(purple,green);
}p.fifteen{
	float:left;
	width:300px;
	height:100px;
	margin:4px;
	color:#FFF;
	background:-moz-linear-gradient(purple,blue);
}p.sixteen{
	float:left;
	width:300px;
	height:100px;
	margin:4px;
	color:#FFF;
	background:-moz-linear-gradient(purple,grey);
}p.seventeen{
	float:left;
	width:300px;
	height:100px;
	margin:4px;
	color:#FFF;
	background:-moz-linear-gradient(pink,white);
}p.eighteen{
	float:left;
	width:300px;
	height:100px;
	margin:4px;
	color:#FFF;
	background:-moz-linear-gradient(pink,orange);
}p.nineteen{
	float:left;
	width:300px;
	height:100px;
	margin:4px;
	color:#FFF;
	background:-moz-linear-gradient(pink,red);
}p.twenty{
	float:left;
	width:300px;
	height:100px;
	margin:4px;
	color:#FFF;
	background:-moz-linear-gradient(pink,blue);
}p.twentyone{
	float:left;
	width:300px;
	height:100px;
	margin:4px;
	color:#FFF;
	background:-moz-linear-gradient(pink,lightblue);
}p.twentytwo{
	float:left;
	width:300px;
	height:100px;
	margin:4px;
	color:#FFF;
	background:-moz-linear-gradient(pink,purple);
}