body{
	background:url(bluepink.png)
}

nav{
	padding: 50px 0;
	min-width:500px;
	
	
}

nav ul{
	/*THIS PART DOESN'T WORK*/
	
	
	/* rbga(red,blue,green,alpha) alpha for opacity, value between 0-1, where 1.0 is the fully opaque*/
	background:linear-gradient( 90deg,
	rbga(255,255,255,0) 0%,
	rbga(255,255,255,0.2) 25%,
	rbga(255,255,255,0.2) 75%,		
	rbga(255,255,255,0) 100%);
	
	box-shadow: 0 0 25px rbga(0,0,0,0.1),
	inset 0 0 1px  rbga(255,255,255,0.6);
	
}

nav ul li{
	display:inline-block;
	
}

nav ul li a{
	padding:10px
	color:#FFFFFF;
	font-family:Arial;
	font-size:18px;
	text-decoration:none;s
	display:block;
}

